<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <form method="get" action="/user/form_user">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Nome de Usuario</label
          >
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            placeholder="Digite o Nome de Usuario"
            value="<%= user.nome%>"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >E-mail</label
          >
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Digite o Seu E-mail"
            value="<%= user.email%>"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            id="senha"
            name="senha"
            placeholder="Digite a Sua Senha"
            value=""
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Confirma Senha</label
          >
          <input
            type="text"
            class="form-control"
            id="confirma"
            name="confirma"
            placeholder="Confirme a Sua Senha"
            value=""
          />
        </div>
        <% user.acessos.forEach(acesso => { %>
        <div class="form-check mb-3"> 
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled>
            <label class="form-check-label" for="flexCheckDefault">
              <%= acesso%>
            </label>
        </div>
        <%})%>
        <input type="hidden" name="user_id" id="user_id" value="<%= user._id%>"> 
        <input type="submit" value="Atualizar" />
      </form>
    </div>
  </body>
  <script>
    const form = document.querySelector('form')
    form.addEventListener('submit', (e)=>{
      e.preventDefault()
      console.log(form)
      console.log(e)
        const endpoint = `/user/${document.getElementById('user_id').value}`
        fetch(endpoint, {
            method:'PUT',
            body : JSON.stringify({
              nome : document.getElementById('nome').value
            })
        }).then((response)=>response.json())
        .then((data)=>{
          console.log(JSON.stringify(data) )
          window.location.href = data.redirect
        } )
        .catch((err)=>{
            console.log(err)
        })
    })
</script>
</html>
