<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid mx-5">
        <a class="navbar-brand h1" href="#">Blog Dev</a>
        
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link rounded-pill bg-dark" aria-current="page" href="#">Dark</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
        <!-- <span class="badge rounded-pill bg-dark">Dark</span> -->
      </div>
    </nav>
    <div class="container-md">
      <section class="seccao-pesquisas mt-4">
        <label class="form-label" for="pesquisa">Pesquisar</label>
        <input class="form-control" type="search" id="pesquisa" />
      </section>

      <section class="seccao-filtros mt-5 d-flex justify-content-between align-items-center bg-light py-2">
        <div class="form-check form-check-inline filtros">
            <div class="input-group mb-3">
                <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="input-group-text" for="inlineCheckbox1">Filtro 1</label>
                <!-- <span class="input-group-text" id="basic-addon1">Filtro 1</span>
                <input type="checkbox" class="form-check-input" aria-label="Username" aria-describedby="basic-addon1"> -->
              </div>
            <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1">Filtro 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1">Filtro 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1">Filtro 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1">Filtro 1</label>
        </div>
      </section>

      <main class="conteudo mt-5">
        <section class="seccao-artigos">
          <%
            if(posts.length > 0){
              posts.forEach(post => {
          %>
          <article class="my-3 artigos">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title"><%= post.titulo%></h2>
                <h6 class="card-subtitle mb-2 text-muted"><%=  post.createdAt%></h6>
                
                <p class="card-text"><%=  post.descricao%></p>
                <a href="/post/<%= post._id%>" class="card-link">Ler Post</a>
              </div>
            </div>
          </article>
          <%})} else {%>
            <p>Sem posts disponíveis</p>
          <%}%>
          <!--  -->
        </section>
      </main>
    </div>

    <script src="script.js"></script>
  </body>
</html>
